<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Admin</title>
</head>


<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Admin Page</h1>
        </div>
      </div>
    <br>
    <div class="container" style="margin: auto;">
        <a href="/" type="button" class="btn btn-outline-dark">Home</a>
        <a href="/create" type="button" class="btn btn-outline-dark">Create Order</a>
        <a href="/open" type="button" class="btn btn-outline-dark">Buy Orders</a>
        <a href="/closed" type="button" class="btn btn-outline-dark">Sell Orders</a>
        <a href="/register" type="button" class="btn btn-outline-dark">Register</a>
        <a href="/about" type="button" class="btn btn-outline-dark">About</a>
        <a href="/admin" type="button" class="btn btn-outline-dark">Admin</a>
    </div>
    <hr>

    <table class="table" style="width:80%; margin-left: auto; margin-right: auto;">
        <thead class="thead-dark">
        <tr>
           <th scope="row">OrderID</th>
           <th scope="row">Agricultural Product</th>
           <th scope="row">Type</th>
           <th scope="row">Amount</th>
           <th scope="row">Price</th>
           <th scope="row">Status</th>
           <th scope="row">Date</th>
           <th scope="row">Seller-ID</th>
           <th scope="row">Buyer-ID</th>
           <th scope="row">Update</th>
           <th scope="row">Delete</th>
        </tr>
        </thead>
        <% for (var i = 0; i < allOrders.length;  i++) { %>
         <tr>
           <th scope="row"><%= allOrders[i].Order_ID %></td>
           <td><%= allOrders[i].Product_ID %></td>
           <td><%= allOrders[i].OrderType %></td>
           <td><%= allOrders[i].Amount %></td>
           <td><%= allOrders[i].Price %></td>
           <td><%= allOrders[i].Status %></td>
           <td><%= allOrders[i].OrderDate %></td>
           <td><%= allOrders[i].Seller_ID %></td>
           <td><%= allOrders[i].Buyer_ID %></td>
           <td><a href="<%= /update/ + allOrders[i].Order_ID %>" type="button" class="btn btn-primary">Update</a></td>
           <td><a type="button" class="btn btn-primary">Delete</a></td>
         </tr>    
        <% } %>
     </table>
<hr>
<div class="container">
<form action= '/add_product' method = 'post'>
  <div class="form-group">
    <label for="addProduct">Add Agricultural Product</label>
  </div>
  <div class = "form-group">
	  <label for = "ProductName"> Name of the Product: </label>
	  <input type = "text" class = "form-control" name = "ProductName" placeholder = "Enter the Name">
  </div>
  <div class = "form-group">
	  <label for = "TonsProduce"> Tones Produced: </label>
	  <input type = "number" class = "form-control" name = "TonsProduce" id="TonsProduce" placeholder = "Enter the amount of Tons Produce">
  </div>
  <div>
	  <label for = "WorldsRanking"> Worlds Ranking: </label>
	  <input type = "number" class = "form-control" name = "WorldsRanking" id = "WorldsRanking" placeholder = "Enter the ranking of the product in the world">
  </div>
  <div class = "form-group">
	<label for= "Amount"> Price: </label>
	<input type = "number" class = "form-control" name = "Amount" id ="Amount" placeholder = "Enter the amount of the product in Rs">
  </div>	  
<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
<hr>
<div class="container">
  <table class="table" style="width:80%; margin-left: auto; margin-right: auto;">
      <thead class="thead-dark">
      <tr>
         <th scope="row">BuyerID</th>
         <th scope="row">Buyer Name</th>
         <th scope="row">Email</th>
         <th scope="row">Delete</th>
      </tr>
      </thead>
      <% for (var i = 0; i < buyers.length;  i++) { %>
       <tr>
         <th scope="row"><%= buyers[i].ID %></td>
         <td><%= buyers[i].Name %></td>
         <td><%= buyers[i].Email %></td>
         <td><button type="submit" class="btn btn-primary">Delete</button></td>
       </tr>    
      <% } %>
   </table>
</div>
<hr>
<div class="container">
  <table class="table" style="width:80%; margin-left: auto; margin-right: auto;">
      <thead class="thead-dark">
      <tr>
         <th scope="row">SellerID</th>
         <th scope="row">Seller Name</th>
         <th scope="row">Email</th>
         <th scope="row">Delete</th>
      </tr>
      </thead>
      <% for (var i = 0; i < sellers.length;  i++) { %>
       <tr>
         <th scope="row"><%= sellers[i].ID %></td>
         <td><%= sellers[i].Name %></td>
         <td><%= sellers[i].Email %></td>
         <td><button type="submit" class="btn btn-primary">Delete</button></td>
       </tr>    
      <% } %>
   </table>
</div>
</body>


</html>
